<div class="header">
    <div class="header-menu">
        <div class="header-name-title d-flex-center">
            <span>Instagram</span>
        </div>
        <div class="header-search-section d-flex-center">
            <div class="searchicon-inputfield">
                <img src="img/icons/search.png">
                <input type="text" class="inputfield" placeholder="Suchen" maxlength="14">
            </div>
        </div>
        <div class="header-icons d-flex-center">
            <div class="icons">
                <div class="icon-home"></div>
                <div class="icon-paper-plane"></div>
                <div class="icon-add"></div>
                <div class="icon-compass"></div>
                <div class="icon-heart-header"></div>
                <img src="img/main-profile-pic-header.JPG" class="main-profile-pic-header active-story">
            </div>
        </div>
    </div>
</div>